

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

html {
    background-color: #161616
}

body {
    line-height: 1;
    font-family: arial
}

h1 {
    font-size: 25px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color : #639d6a;
}

h2 {
    font-size: 21px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent
}

input,
select {
    vertical-align: middle
}

header {
    background: #161616;
    padding: 10px 30px;
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    height: 40px
}

nav {
    display: inline-block
}

nav ul li a {
    background: #fff;
    padding: 2px 6px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    color: #344;
    border-radius: 5px
}

nav ul li a:hover {
    color: #000
}

nav ul li {
    display: inline-block;
    margin: 10px
}

nav ul {
    list-style: none
}

article {
    padding-bottom: 20px;
    margin-bottom: 20px;
    background: #1E1E1E;
    border-radius: 8px;
    padding-bottom: 30px;
    scroll-margin-top: 60px;
}

.chartTitle {
    padding: 10px;
    vertical-align: center;
}

.chartButtonsContainer {
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.chartButton {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    
    
}

footer {
    background: linear-gradient(95.26deg, #219653 0, #6FCF97 101.27%);
    border-radius: 8px;
    max-width: 1000px;
    clear: both;
    text-align: center
}

footer p {
    padding: 20px;
    color: #fff
}

aside {
    justify-content: center;
    align-items: center
}

aside div {
    width: 80%;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgb(37, 53, 44);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: neogram, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0;
    margin: 10px auto;
    min-height: initial;
    padding: 1em;
    text-align: center;
    color: #fff
}

footer a {
    color: #fff
}

a#logo {
    vertical-align: middle;
    color: #344;
    font-weight: bold;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    padding: 3px
}

#sidebarAddressesMenu,
#sidebarAddressesChainsMenu,
#sidebarVolumesMenu {
    float: left;
    position: sticky;
    top: 60px;
    display:none;
}

#sidebarAddressesMenu a.graphLink,
#sidebarAddressesChainsMenu a.graphLink,
#sidebarVolumesMenu a.graphLink {
    text-decoration: none;
    text-align: center;
    color: #fff;
    padding: 5px;
    display: block;
    top: -60px;
}

#sidebarAddressesMenu a.graphLink:hover,
#sidebarAddressesChainsMenu a.graphLink:hover,
#sidebarVolumesMenu a.graphLink:hover {
    background: #fff;
    color: rgb(37, 53, 44);
    border-radius: 8px;
}

#sidebarAddressesMenu a.backToTop,
#sidebarAddressesChainsMenu a.backToTop,
#sidebarVolumesMenu a.backToTop {
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    display: block
}

#sidebarAddressesMenu a.backToTop:hover,
#sidebarAddressesChainsMenu a.backToTop:hover,
#sidebarVolumesMenu a.backToTop:hover {
    background: #fff;
    color: rgb(37, 53, 44);
    border-radius: 8px;
}

#sidebarContent {
    width: 300px;
    padding: 10px;
    background: linear-gradient(95.26deg, #219653 0, #6FCF97 101.27%);
    border-radius: 8px
}

#main {
    margin-left: 0px;
    color: #fff
}

#page {
    padding: 20px
}

#wrapall,
#header {
    max-width: 1100px;
    margin: 0 auto
}

#header {
    display: flex;
    align-items: center;
    gap: 7px;
    overflow: hidden;
    height: 40px;
}

#wrapall {
    padding-top: 60px
}

.header {
    display: inline-flex;
    align-items: center;
    height: 40px;
}

#addressesMenuToggle,
#addressesChainsMenuToggle,
#volumesMenuToggle {
    background: #fff;
    cursor: pointer;
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
    min-width: 70px;
    font-weight: bold;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    color: #344;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

#fillerMenuToggle {
    flex: 1;
}
#MobileMenuToggle {
    background: #fff;
    cursor: pointer;
    font-size: 40px;
    min-width: 40px;
    width: 40px;
    font-weight: bold;
    justify-content: center;
    height: 40px;
    line-height: 40px;
    color: #344;
    border-radius: 10px
}

#Tagline {
    justify-content: flex-start;
    flex: 1;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

#SocialButtons {
    gap: 7px;
}

#MobileMenuToggle {
    display: none;
}

#addressesMenuToggle:hover,
#addressesChainsMenuToggle:hover,
#volumesMenuToggle:hover, 
#MobileMenuToggle:hover {
    color: #fff;
    background: #344
}

#SocialButtons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #0570e6;
    padding: 2px;
    width: 33px;
    height: 20px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    line-height: 20px;
    font-size: 20px;
    border-radius: 5px;
}

#SocialButtons a.linkedin {
    background: #24568e
}

#SocialButtons a.youtube {
    background: #c00
}

a svg {
    width: 16px;
    height: 16px;
    fill: #fff
}

.chart-container {
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    margin: auto;
    background : #1e1e1e;
}

.toggleAddressesMenu #sidebarAddressesMenu {
    display:block;
}
.toggleAddressesMenu #main {
    margin-left: 320px;
}


.toggleAddressesChainsMenu #sidebarAddressesChainsMenu {
    display:block;
}
.toggleAddressesChainsMenu #main {
    margin-left: 320px;
}



.toggleVolumesMenu #sidebarVolumesMenu {
    display:block;
}   
.toggleVolumesMenu #main {
    margin-left: 320px;
}


/* responsive part */


@media screen and (max-width: 1100px) {
    header {
        padding: 10px;
    }
    #MenuToggle {
        margin: initial;
    }
    #sidebarContent {
        width: 200px;
    }
    
.toggleAddressesMenu #main {
    margin-left: 220px;
}

.toggleAddressesChainsMenu #main {
    margin-left: 220px;
}

.toggleVolumesMenu #main {
    margin-left: 220px;
}

    a#logo {
        font-size: 20px;
    }
    aside div {
        font-size: 15px;
        font-weight: 200;
    }
}

@media screen and (max-width: 900px) {
    #MobileMenuToggle {
        display: inline-flex;
    }
    #Link {
        height: auto;
        position: absolute;
        width: auto;
        top: 46px;
        right: 0;
        background: linear-gradient(95.26deg, #219653 0, #6FCF97 101.27%);
        border-radius: 8px;
        display: none;
    }
    .showMobileMenu #Link {
        display: block;
    }
    
#sidebarAddressesMenu a,
#sidebarAddressesChainsMenu a,
#sidebarVolumesMenu a {
    padding: 0px;
}
    
.toggleAddressesMenu #sidebarAddressesMenu {
        display: initial;
        z-index: 999;
        position: fixed;
        top: 60px;
}

.toggleAddressesMenu #main {
    margin-left: 0px;
}

.toggleAddressesChainsMenu #sidebarAddressesChainsMenu {
        display: initial;
        z-index: 999;
        position: fixed;
        top: 60px;
}
.toggleAddressesChainsMenu #main {
    margin-left: 0px;
}

.toggleVolumesMenu #sidebarVolumesMenu {
        display: initial;
        z-index: 999;
        position: fixed;
        top: 60px;
}   
.toggleVolumesMenu #main {
    margin-left: 0px;
}

    a#logo {
        font-size: 20px;
        line-height: 20px;
        padding: 10px 5px;
    }
    aside>div {
        min-height: 20px;
        padding: 5px;
    }
}

@media screen and (max-width: 600px) {
    #addressesMenuToggle,
    #addressesChainsMenuToggle,
    #volumesMenuToggle,
    #MobileMenuToggle {
        min-width: 30px;
        height: 30px;
        line-height: 40px;
    }
    
    #MobileMenuToggle {
        min-width: 30px;
        width: 30px;
        height: 30px;
        line-height: 40px;
    }
    
    nav ul li {
        display: block;
        margin: 0;
    }
    nav ul li a {
        display: block;
        background: transparent;
        color: #fff;
        text-align: center;
        font-size: 16px;
        padding: 3px 10px;
        line-height: 25px;
    }
    #page {
        padding: 20px 10px;
    }
    #wrapall {
        padding-top: 46px;
    }
    #sidebarContent {
        right: 0;
    }
    h1 {
        font-size: 20px;
        text-align: center;
        padding-top: 2px;
        padding-bottom: 2px
    }
}

